<h1>Hello Pierre!</h1>
<h2>Welcome to Vendor Tracker!</h2>

<h4>Click the links below to view all vendors that have placed an order.</h4>
<h3><a href='/vendors'>Click here to see all vendors that have placed an order</a></h3>
<h3><a href='/vendors/new'>Click here to add a new vendor</a></h3>