<h1>Order Details: </h1>

<h2>Items in order: @Model["order"].Description</h2>
<h2>@Model["order"].Price</h2>
<h3>Ordered by: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].ID/orders/new'>Add another order</a>
<a href='/vendors'>View all categories</a>
